.container {
    margin-top: 75px;
    padding: 0 150px;
}

.wrapper-content--modal {
    display: flex;
    justify-content: center;
}

.wrapper-button-bottom {
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 720px) {
    .container {
        padding: 0 50px;
    }
  }