.wrapper--login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper-title--login {
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 500;
}

.wrapper--username-input {
    position: relative;
}

.wrapper--password-input {
    position: relative;
}

.error-text {
    position: absolute;
    font-size: 10px;
    bottom: 5px;
    color: red;
    font-weight: bold;
}

.error-login {
    position: absolute;
    font-size: 10px;
    bottom: -50px;
    color: red;
    font-weight: bold;
}

.wrapper-button--login {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}