.wrapper--select {
    border: none;
    border-radius: 5px;
    width: 140px;
    height: 25px;
    font-size: 15px;
    font-weight: 500;
    padding: 0 5px;
    background-color: #d4d4d4;
}

.wrapper-top--medication-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 50px;
}

.wrapper-table--medication-list {
    border: 2px solid #d4d4d4;
    max-width: 100%;
    overflow-x: scroll;
    margin: 0 auto;
    border-radius: 15px;
    margin: 0 50px;
}

.wrapper-table--medication-list::-webkit-scrollbar {
    display: none;
}

table {
    display: contents;
    border-radius: 4px 4px 0px 0px;
    background:#D6DCE3;
}

thead {
    background-color: #d4d4d4;
}

td {
    width: auto;
    min-width: 0;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;  
    padding: 10px;
    height: 10px;
    text-align: center;
}

 .even-row {
    background-color: #FFFFFF;
    height: 60px;
    cursor: pointer;
}

 .odd-row {
    background-color: #F9F9F9;
    height: 60px;
    cursor: pointer;
}

.even-row:hover {
    background-color: #ECEDEF;
}

.odd-row:hover {
    background-color: #ECEDEF;
}

th {
    border: 1px solid #d4d4d4;
    min-width: 200px;
    padding: 10px;
}

.wrapper-bottom-pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 50px;
    text-align: center;
}

.loading {
    display: flex;
    justify-content: center;
    margin: 150px
}

.container {
    margin-top: 75px;
}


@media (max-width: 720px) {
    .wrapper-top--medication-list {
      flex-direction: column;
    }
  }