.wrapper--header {
    display: flex;
    justify-content: space-between;
    height: 56px;
    background-color: #1f1f20;
    color: #fff;
    padding: 0 20px;
    position: fixed;
    width: calc(100% - 35px);
    top: 0;
}

.wrapper-left--header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0679a1;
    font-weight: bold;
    font-size: 25px;
    cursor: default;
}

.wrapper-right--header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-logout--header {
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}


.wrapper-logout--header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.text-logout--header {
    align-self: center;
    margin-right: 10px;
}